<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Tutorial</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="styleBody">

<div class="styleHeader" th:insert="fragments/_header :: header"></div>

<h1 class="pageHeader">Today we learn how to make a peanut butter sandwich!</h1>
<h3 class="pageHeader">This tutorial will take you through the 3 easy steps to make a delicious sandwich.</h3>

<div class="homeDirections">
    <div>
        <p>Things you will need:</p>
    </div>
    <ul class="itemsNeeded">
        <li>Peanut Butter</li>
        <li>Bread</li>
        <li>Knife</li>
    </ul>
</div>

<div class="homePicture">
    <img th:src="@{/images/home-bread.jpg}" alt="Sliced Bread">
    <img th:src="@{/images/peanut-butter.jpg}" alt="Peanut Butter">
</div>

<div class="oneBtn">
    <button class="btn"><a th:href="@{/open-bread}">Get Started!</a></button>
</div>

<div class="styleFooter" th:insert="fragments/_footer :: footer"></div>

</body>
</html>